# Copyright (c) 2026 Yutong Wan
# SPDX-License-Identifier: BSD-3-Clause

__pycache__/
*.egg-info/
*.blend1


.venv/
venv/
env/

output*/
preview*
data/sequences/minimal
data/sequences/model1/animation*.json
data/sequences/model1/sample
data/sequences/model2/animation*.json

dataset_test*/
dataset_test/
dataset/

.pytest_cache/
.ruff_cache/
