# Copyright (c) 2026 Yutong Wan
# SPDX-License-Identifier: BSD-3-Clause

__pycache__/
*.egg-info/
*.blend1


.venv/
venv/
env/

data/finger_pose/
data/wrist_elbow_pose/
output*/
preview*

.pytest_cache/
.ruff_cache/
